
<nav>
    <div class="nav-wrapper" style="background-color: cadetblue;">
        <a [routerLink]="['/login']" class="brand-logo">Admin</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/hospital']">Hospitales</a></li>
          <li><a [routerLink]="['/banco']">Bancos</a></li>
          <li><a [routerLink]="['/bolsa_de_sangre']">Sangre</a></li> 
          <li><a [routerLink]="['/inventario']">Inventario</a></li>
          <li><a [routerLink]="['/solicitudadministrador']">Solicitudes</a></li>
          <li><a [routerLink]="['/registros']">Registro de Solicitudes </a></li>
        </ul>
      </div>
</nav>